.errors {
    color: red;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 50px 200px 50px 200px;
    background-color:rgb(242, 242, 242)
}

.inner-inputs {
    display: flex;
    flex-wrap: wrap;
}

/* DO MEDIA QUERIES */
