.spot-details-container {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.single-spot-header-host{
  margin-bottom: 5px;
  padding: 0px;
}

.home-info .material-symbols-outlined{
  margin-top: 10px;
  font-size: 27px;
}

.home-info{
  display: flex;
  padding: .5rem 0rem;
}

.single-spot-description{
  padding-top: 1rem;
}

.single-spot-total-price-sub{
  color:rgb(118, 118, 118)
}

.single-spot-total-price{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.self-check-in-header{
  margin: 5px;
  padding: 0px;
}
.self-check-in-description{
  font-size: 15px;
  color: rgb(163, 163, 163)
}

.home-info-sub{
  display: flex;
  flex-direction: column;
  padding-left: .5rem;
}

.singup-errors-container{
  margin: 0px;
  padding: 0px;
}

.spot-images-container {
  display: flex;
  height: 500px;
  gap: 5px;
}

.preview-image{
  width: 50%;
  height: 499px;
  margin-right: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.top-right{
  border-top-right-radius: 10px;
}

.bottom-right{
  border-bottom-right-radius: 10px;
}

.four-images-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0px;
  grid-gap: 4px
}

.small-images{
  width: 100%;
  height: 247px;
  margin: 0px;
  object-fit: cover;
}

.image-coming {
  width: 94%;
  height: 25%;
  object-fit: cover;
  border: 1px solid black;
}

.single-spot-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.single-spot-details-info {
  width: 90%;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
}

.single-spot-reservation {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0px 5px 20px rgb(154, 154, 154);
}

.single-spot-reservation-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding-bottom: 1rem;
}

.review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered-dot {
  margin-left: 10px;
  margin-right: 10px;
}

.reviews-section-container {
  padding: 1rem 0rem;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.single-spot-price {
  font-size: 20px;
  margin-right: 6px;
}

.single-spot-price-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}



.reserve-button {
  background-color: rgb(179, 255, 187);
  color:black;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 1rem;
  padding: .5rem;
  font-size: 15px;

}

.form-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reserving-box{
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  width: 100%;
}

.checks{
  display: flex;
  border-bottom: 1px solid rgb(151, 151, 151);
}

.check-in-container, .check-out-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.check-in-container{
  border-right:1px solid rgb(151, 151, 151);
}

#check-in, #guests{
  border: none;
}

.number-of-guests{
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.text-under-reserve-button{
  font-size: 13px;
}

.reservation-labels{
  font-size: 10px;
}

.home-occupancy{
  color:rgb(118, 118, 118);
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 1rem;
}

#spot-details-header{
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.spot-details-subheading{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.post-review-button{
  padding: .5rem;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
}

.post-review-button:hover{
  cursor: pointer;
  background-color: rgb(179, 255, 187);
}

@media screen and (min-width: 1441px){
  .spot-details-container{
    padding: 1rem 20rem;
  }
}

@media screen and (max-width: 1440px){
  .spot-details-container{
    padding: 1rem 4.5rem;
  }
}