
.spot-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.spot-images-container {
  display: flex;
  flex-direction: row;
  max-height: 500px;
  width: 95vw;
}

.preview-image {
  width: 50%;
  object-fit: cover;
  max-height: 500px;
  margin: 2px;
  height: 407px;
  border: 1px solid black;
}

.four-images {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  width: 50%;
  height: 800px
}

.four-images-subset {
  display: flex;
  flex-direction: column;
  width: 57%;
}

.image-coming {
  width: 94%;
  height: 40%;
  object-fit: cover;
  border: 1px solid black;
  margin: 2px;
}

.single-spot-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding-bottom: 30px;
  width: 95%;
}

.single-spot-details-info {
  width: 60%;
}

.single-spot-reservation {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 10px;
  padding: 1rem 1.5rem;
  align-items: center;
}

.single-spot-reservation-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding-bottom: 1rem;
}

.review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.centered-dot {
  margin-left: 10px;
  margin-right: 10px;
}

.reviews-section-container {
  width: 95vw;
}

.reviews-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.single-spot-price {
  font-size: 20px;
  margin-right: 6px;
}

.single-spot-price-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.reserve-button {
  background-color: #ff385c;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  padding: .5rem;
}

.reserving-box{
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  width: 100%;
}

.checks{
  display: flex;
  border-bottom: 1px solid rgb(151, 151, 151);
}

.check-in-container, .check-out-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.check-in-container{
  border-right:1px solid rgb(151, 151, 151);
}

#check-in, #guests{
  border: none;
}

.number-of-guests{
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.text-under-reserve-button{
  font-size: 13px;
}

.reservation-labels{
  font-size: 10px;
}

.home-occupancy{
  color:rgb(118, 118, 118)
}