.manage-spots-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  margin-right: 30px;
}

.manage-spots-card{
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 6px;
    height: 390px;
    font-size: 90%;
    position: relative;
    text-decoration: none;
    color: black;
}

/* .manage-spots-card::before,
.manage-spots-card::after {
  --scale: 0;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(410%) scale(var(--scale));
}

.manage-spots-card::before {
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: rgba(54, 52, 52, 0.346);
}

.manage-spots-card:hover::before {
  --scale: 1;
} */

.card-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
  }

  .rating {
    font-weight: 1px;
  }

  .stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .star {
    font-size: 10px;
    margin-right: 3px;
  }

  .spot-price {
    margin: 0px 0px 0px 0px;
  }

  @media (max-width: 549px) {
    .card {
      width: 90%;
      height: 640px;
    }
  }

  @media (min-width: 550px) and (max-width: 949px) {
    .card {
      width: 40%;
      height: 350px;
    }
  }

  @media (min-width: 950px) and (max-width: 1127px) {
    .card {
      width: 27%;
    }
  }

  @media (min-width: 1024px) {
    .card {
      width: 22%;
      height: 300px;
    }
  }
