.manage-spots-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.manage-spots-all-cards{
  display: flex;
  gap: 2rem; 
}

.manage-spots-card{
  width: 19rem;
  height: 25rem;
  /* box-shadow: 0px 5px 10px rgba(154, 154, 154, 0.38); */
}

.manage-spots-image{
  height: 15rem;
  width: 19rem;
  object-fit: cover;
  border-radius: 5px;
}

.manage-spots-city{
  font-size: 15px;
}

.manage-spots-location{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manage-spots-rating{
  font-size: 15px;
}

.manage-spots-guests{
  color: rgb(113, 113, 113);
  font-size: 14px;
}

.manage-spots-price{
  font-size: 14px;
}

.manage-spots-update-button{
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 5px;
  padding: .25rem;
  border: 1px solid black;
}

.manage-spots-update-button:hover{
  cursor: pointer;
  background-color: rgb(179, 255, 187);
}

.manage-spots-navlink{
  text-decoration: none;
  color: black
}

.manage-spots-delete-button{
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 5px;
  padding: .25rem;
  border: 1px solid black;
}

.manage-spots-delete-button:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 179);
}


  @media screen and (min-width: 1441px){
    .manage-spots-container{
      padding: 1rem 20rem;
    }
  }
  
  @media screen and (max-width: 1440px){
    .manage-spots-container{
      padding: 1rem 4.5rem;
    }
  }
