.star-rating {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.review-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 2rem;
}

.submit-review-button {
  width: 80%;
}

.textarea-review {
  width: 95%;
}

.rating-star{
  font-size: 25px;
  color: rgb(216, 216, 140);
}