.delete-spot-modal-container{
  padding: 1rem;
}


.delete-spot-button {
  background-color: rgb(179, 255, 187);
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 5px;
  padding: .25rem;
  border: 1px solid black;
}

.delete-spot-button:hover{
  cursor: pointer;
}

.spot-cancel-delete-button{
  background-color: rgb(102, 102, 102);
  color:white;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  border-radius: 5px;
  padding: .25rem;
  border: none;
}

.spot-cancel-delete-button:hover{
  cursor: pointer;
}

