.open-modal-button {
  background-color: #c0c0c0;
  color: white;
  margin: 8px;
  box-shadow: 1px 1px 3px black;
  font-family: "Montserrat", sans-serif;
}

.open-modal-button:hover {
  background-color: #f94966;
  cursor: pointer;
}
