.open-modal-button {
  background-color: #c0c0c0;
  color: white;
  margin: 8px;
  box-shadow: 1px 1px 3px black;
  font-family: "Montserrat", sans-serif;
}

.open-modal-button:hover {
  background-color: #f94966;
  cursor: pointer;
}

.review-delete-button-here{
  background-color: white;;
  color: black;
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  padding: .5rem;
  width: 10%;
  border-radius: 10px;
}

.review-delete-button-here:hover{
  cursor: pointer;
  background-color: rgb(179, 255, 187);
}