

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  padding: 4rem;
  gap: 1rem;
  margin-top: -10px
}

.card {
  display: flex;
  flex-direction: column;
  height: 390px;
  font-size: 90%;
  position: relative;
  text-decoration: none;
  color: black;
}

.card::before,
.card::after {
  --scale: 0;
  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(350%) scale(var(--scale));
}

.card::before {
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: rgba(54, 52, 52, 0.346);
}

.card:hover::before {
  --scale: 1;
}

.card-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.rating {
  font-weight: 1px;
}

.stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
  font-size: 10px;
  margin-right: 3px;
}

.spot-price {
  margin: 0px 0px 0px 0px;
}

