.delete-review-button {
  background-color: white;
  color: black;
  margin: 8px;
  margin-top: 18px;
  height: 26px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
}

.delete-review-button:hover{
  cursor: pointer;
  background-color: rgb(179, 255, 187);
}

.cancle-delete-button {
  background-color: white;
  color: black;
  margin: 8px;
  margin-top: 18px;
  height: 26px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
}

.cancle-delete-button:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 179)
}

.delete-review-container {
  padding: 20px;
  margin: 20px;
}
.modal-title {
  font-size: 25px;
}

.modal-subtitle {
  font-size: 20px;
}
