.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 30;
    background-color: white;
}

.hidden{
    display: none
}

.header-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
    color: #ff385c;
    font-size: 25px;
    padding: 10px;
}

.img-logo {
    max-width: 510px;
    max-height: 50px
}

.user-dropdown, .profile-dropdown{
    position: absolute;
    right: 0%
}
.profile-button-container{

}

.profile{
    display: flex;
    border-radius: 50px;
    color: black;
    padding: 7px 10px 7px 10px;
    border: 2px solid black;
    margin-top: 20%;
}

.dropdown-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid black
}

.user-info-styling{
    margin: 3%;
    border-bottom: 1px gray;
}

.manage-spots{
    color: black;
    text-decoration: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black
}

.create-new-spot{
    text-decoration: none;
    color: rgb(146, 146, 248)
}
