.header {
    direction: flex;
    flex-wrap: w
}

.header-link{
    text-decoration: none;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
    color: #ff385c;
    font-size: 25px;
}

.img-logo {
    max-with: 510px;
    max-height: 50px
}
